.filter-panel{
    width:100%;
    display: flex;
    flex-direction: column;
    
    padding: 20px;
}

.heading{

}

.select{
    width: fit-content;
    margin-bottom: 20px;
    margin-top:-10px;
    border: 1px solid lightgray;
    border-radius: 9px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.option{
    width: fit-content;
    margin-bottom: 20px;
    margin-top:-10px;
    border: none;
    border-radius: 9px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.btn{
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.btn:hover{
    cursor: pointer;
    background-color: darkgray;

}
